<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>[JENKINS-75090](https://issues.jenkins.io/browse/JENKINS-75090) notes that Jenkins 2.479.x shows the table layout of the plot plugin radio buttons overlaid with the next UI element.&#xd;
&#xd;
Open the job configuration page for this job and scroll down to see the issue in the &quot;Include columns&quot; section</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>linux</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <jdk>jdk21</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
[ ! -f plot-a.csv ] &amp;&amp; echo &quot;Line-A,Line-B&quot; &gt; plot-a.csv
let &quot;OTHER_VAR=2*BUILD_ID+1&quot;
echo $BUILD_ID,$OTHER_VAR &gt;&gt; plot-a.csv</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.plot.PlotPublisher plugin="plot@2.2.0">
      <plots>
        <hudson.plugins.plot.Plot>
          <title>Plot-A</title>
          <description>Plot-A in the A-group</description>
          <yaxis>Y axis of Plot-A</yaxis>
          <series>
            <hudson.plugins.plot.CSVSeries>
              <file>plot-a.csv</file>
              <label></label>
              <fileType>csv</fileType>
              <inclusionFlag>OFF</inclusionFlag>
              <exclusionValues></exclusionValues>
              <exclusionValuesList class="java.util.Arrays$ArrayList">
                <a class="string-array">
                  <string></string>
                </a>
              </exclusionValuesList>
              <url></url>
              <displayTableFlag>false</displayTableFlag>
            </hudson.plugins.plot.CSVSeries>
          </series>
          <group>A-group</group>
          <numBuilds></numBuilds>
          <csvFileName>plot-2608693019165478574.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>lineSimple</style>
          <useDescr>false</useDescr>
          <keepRecords>false</keepRecords>
          <exclZero>false</exclZero>
          <logarithmic>false</logarithmic>
          <yaxisMinimum>0.0</yaxisMinimum>
          <yaxisMaximum></yaxisMaximum>
        </hudson.plugins.plot.Plot>
      </plots>
    </hudson.plugins.plot.PlotPublisher>
  </publishers>
  <buildWrappers/>
</project>
