<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Check [JENKINS-23606](https://issues.jenkins.io/browse/JENKINS-23606) - include region specification not honored across merge results

* This branch - [**all** directories](../JENKINS-23606-merge-triggers-unexpected-jobs-all)
* This branch - [**only project 1** directory](../JENKINS-23606-merge-triggers-unexpected-jobs-only-project-1)
* This branch - [**only project 2** directory](../JENKINS-23606-merge-triggers-unexpected-jobs-only-project-2)
* [project-1 branch](../JENKINS-23606-merge-triggers-unexpected-jobs-project-1)
* [project-2 branch](../JENKINS-23606-merge-triggers-unexpected-jobs-project-2)</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>15</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.28.1">
      <projectUrl>https://github.com/MarkEWaite/jenkins-bugs</projectUrl>
      <displayName>Jenkins Bugs</displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.0.0-SNAPSHOT">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/heads/JENKINS-23606:refs/remotes/origin/JENKINS-23606 +refs/heads/JENKINS-23606-project-1:refs/remotes/origin/JENKINS-23606-project-1 +refs/heads/JENKINS-23606-project-2:refs/remotes/origin/JENKINS-23606-project-2</refspec>
        <url>https://github.com/MarkEWaite/jenkins-bugs</url>
        <credentialsId>MarkEWaite-github-username-password</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>JENKINS-23606</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>false</shallow>
        <noTags>true</noTags>
        <reference>/var/lib/git/mwaite/bugs/jenkins-bugs.git</reference>
        <depth>0</depth>
        <honorRefspec>true</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
      <hudson.plugins.git.extensions.impl.LocalBranch>
        <localBranch>JENKINS-23606</localBranch>
      </hudson.plugins.git.extensions.impl.LocalBranch>
      <hudson.plugins.git.extensions.impl.PruneStaleBranch/>
      <hudson.plugins.git.extensions.impl.AuthorInChangelog/>
      <hudson.plugins.git.extensions.impl.CleanCheckout/>
      <hudson.plugins.git.extensions.impl.PathRestriction>
        <includedRegions>JENKINS-23606-project-2/.*</includedRegions>
        <excludedRegions></excludedRegions>
      </hudson.plugins.git.extensions.impl.PathRestriction>
    </extensions>
  </scm>
  <quietPeriod>0</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>jdk8</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant plugin="ant@1.7">
      <targets>info</targets>
      <antName>ant-latest</antName>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.plugins.textfinder.TextFinderPublisher plugin="text-finder@1.10">
      <regexp>.*JENKINS-23606-project-2/build.number.*</regexp>
      <succeedIfFound>true</succeedIfFound>
      <unstableIfFound>true</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
  </publishers>
  <buildWrappers/>
</project>
