<?xml version='1.1' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@3.20">
  <actions/>
  <description>[JENKINS-65276](https://issues.jenkins.io/browse/JENKINS-65276) reports that newly created maven jobs ignore the setting of the JDK as provided by the Jenkins job definition.  I can&apos;t duplicate the problem.&#xd;
&#xd;
&#xd;
This job intentionally uses JDK 17 even though my typical Jenkins configuration runs on Java 11.  It will be unstable if the build is not run with Java 17.
The job fails on my swarm agent with class loading issues.
Needs more investigation to understand if that is a long-standing issue with swarm agents and maven integration jobs or a recent development.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>7</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.0.0-rc5001.12d6962fb_47a">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/MarkEWaite/simple-java-maven-app.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <assignedNode>!windows &amp;&amp; !swarm</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>jdk17</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.mycompany.app</groupId>
    <artifactId>my-app</artifactId>
  </rootModule>
  <goals>verify</goals>
  <mavenName>mvn</mavenName>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <ignoreUnsuccessfulUpstreams>false</ignoreUnsuccessfulUpstreams>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers>
    <io.jenkins.plugins.analysis.core.steps.IssuesRecorder plugin="warnings-ng@9.22.0">
      <analysisTools>
        <io.jenkins.plugins.analysis.warnings.Java>
          <id></id>
          <name></name>
          <jenkins plugin="plugin-util-api@2.20.0"/>
          <pattern></pattern>
          <reportEncoding></reportEncoding>
          <skipSymbolicLinks>false</skipSymbolicLinks>
        </io.jenkins.plugins.analysis.warnings.Java>
        <io.jenkins.plugins.analysis.warnings.JUnit>
          <id></id>
          <name></name>
          <jenkins plugin="plugin-util-api@2.20.0"/>
          <pattern>target/**/*.xml</pattern>
          <reportEncoding></reportEncoding>
          <skipSymbolicLinks>false</skipSymbolicLinks>
        </io.jenkins.plugins.analysis.warnings.JUnit>
      </analysisTools>
      <sourceCodeEncoding></sourceCodeEncoding>
      <sourceDirectories/>
      <ignoreQualityGate>false</ignoreQualityGate>
      <failOnError>false</failOnError>
      <healthy>0</healthy>
      <unhealthy>0</unhealthy>
      <minimumSeverity plugin="analysis-model-api@10.21.0">
        <name>LOW</name>
      </minimumSeverity>
      <filters/>
      <isEnabledForFailure>false</isEnabledForFailure>
      <isAggregatingResults>false</isAggregatingResults>
      <quiet>false</quiet>
      <isBlameDisabled>false</isBlameDisabled>
      <skipPublishingChecks>false</skipPublishingChecks>
      <publishAllIssues>false</publishAllIssues>
      <qualityGates/>
      <trendChartType>AGGREGATION_TOOLS</trendChartType>
      <scm></scm>
    </io.jenkins.plugins.analysis.core.steps.IssuesRecorder>
    <hudson.plugins.textfinder.TextFinderPublisher plugin="text-finder@1.22">
      <textFinders>
        <hudson.plugins.textfinder.TextFinder>
          <regexp>jdk-17.*bin.*java.*apache-maven</regexp>
          <buildResult>UNSTABLE</buildResult>
          <changeCondition>MATCH_NOT_FOUND</changeCondition>
          <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
        </hudson.plugins.textfinder.TextFinder>
      </textFinders>
    </hudson.plugins.textfinder.TextFinderPublisher>
  </publishers>
  <buildWrappers/>
  <prebuilders/>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>
