<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.12.2">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.1.7">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins/Bugs-Individual%2FJENKINS-32529-pipeline-ignores-reference-repo</mappedUrl>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
  </actions>
  <description>[JENKINS-32529](https://issues.jenkins-ci.org/browse/JENKINS-32529) reference repo not honored by pipeline script</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.28.0">
      <projectUrl>https://github.com/jenkinsci/git-plugin/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.7">
      <gitLabConnection>gitlab-named-connection</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec></spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.39">
    <script>node (&quot;linux&quot;) {
   // Mark the code checkout &apos;stage&apos;....
   stage &apos;Checkout&apos;

   // Get some code from a GitHub repository
   checkout([$class: &apos;GitSCM&apos;, branches: [[name: &apos;*/master&apos;]],
       browser: [$class: &apos;GithubWeb&apos;, repoUrl: &apos;https://github.com/jenkinsci/git-plugin&apos;],
       extensions: [[$class: &apos;CloneOption&apos;, noTags: false, reference: &apos;/var/lib/git/mwaite/jenkins/git-plugin.git&apos;, timeout: 1],
           [$class: &apos;CleanBeforeCheckout&apos;],
           [$class: &apos;PruneStaleBranch&apos;],
           [$class: &apos;AuthorInChangelog&apos;]],
       gitTool: &apos;Default&apos;,
       userRemoteConfigs: [[url: &apos;https://github.com/jenkinsci/git-plugin.git&apos;]]])

   stage &apos;Test&apos;
   // Verify objects directory is small
   sh &quot;if [ `du -s .git/objects/ | awk &apos;{print \$1}&apos;` -lt 1000 ]; then echo objects less than 1000, test passed; ls -altr .git/objects/*; else echo objects too large; ls -altr .git/objects/; exit 1; fi&quot;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <disabled>false</disabled>
</flow-definition>
