<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>[JENKINS-14917](https://issues.jenkins.io/browse/JENKINS-14917) build not triggered for new tag&#xd;
&#xd;
This job creates a tag in the userContent repository and invokes notifyCommit on that repository</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>0</quietPeriod>
  <assignedNode>master || built-in</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H H(5-21)/3 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cd ~/userContent/

# Delete existing please-build-xxx tags
for tag in $(git tag | grep please-build); do
    git tag -d $tag
done

date &gt;&gt; datefile
git add datefile
git commit -m &quot;Added datefile&quot; datefile

date &gt;&gt; datefile
git add datefile
git commit -m &quot;Added datefile again&quot; datefile

tag_name=please-build-$RANDOM
git tag $tag_name HEAD^^

# Confirm tag was created
(git tag | grep -q $tag_name) || exit 1

expected=$(git rev-parse HEAD^^)
actual=$(git rev-parse $tag_name)

# Confirm correct SHA1 was tagged
[ &quot;$expected&quot; == &quot;$actual&quot; ] || exit 2

# Notify Jenkins to check repo for changes
curl -q $JENKINS_URL/git/notifyCommit?url=${JENKINS_URL}userContent.git/

echo Created tag $tag_name and notified Jenkins to poll</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.textfinder.TextFinderPublisher plugin="text-finder@1.10">
      <regexp>Created tag please-build-.* and notified Jenkins to poll</regexp>
      <succeedIfFound>true</succeedIfFound>
      <unstableIfFound>true</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
  </publishers>
  <buildWrappers/>
</project>
