<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.37">
  <actions/>
  <description>[JENKINS-42020](https://issues.jenkins.io/browse/JENKINS-42020)</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec></spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>@Library(&apos;globalPipelineLibraryMarkEWaite&apos;)
import com.markwaite.Assert
import com.markwaite.Build

node {
    stage(&apos;Checkout&apos;) {
        checkout([$class: &apos;GitSCM&apos;,
              userRemoteConfigs: [[url: &apos;https://github.com/MarkEWaite/jenkins-bugs&apos;]],
              branches: [[name: &apos;master&apos;]],
              browser: [$class: &apos;GithubWeb&apos;, repoUrl: &apos;https://github.com/MarkEWaite/jenkins-bugs&apos;],
              extensions: [
                [$class: &apos;AuthorInChangelog&apos;],
                [$class: &apos;CleanCheckout&apos;],
                [$class: &apos;CloneOption&apos;, honorRefspec: true, noTags: true, reference: &apos;/var/lib/git/mwaite/bugs/jenkins-bugs.git&apos;],
                [$class: &apos;LocalBranch&apos;, localBranch: &apos;master&apos;],
                [$class: &apos;PruneStaleBranch&apos;],
              ],
             ])
    }
  stage(&apos;Build&apos;) {
    /* Call the ant build. */
    def my_step = new com.markwaite.Build()
    my_step.ant &apos;info&apos;
  }

  stage(&apos;Verify&apos;) {
    def my_check = new com.markwaite.Assert()
    /* JENKINS-42020 reports the master branch starts a build even if
     * there are no changes detected on the master branch.  This assertion
     * checks that recent commits are not empty */
    if (currentBuild.number &gt; 1) { // Don&apos;t check first build
      my_check.logContains(&apos;.*Author:.*&apos;, &apos;Build started without a commit - no author line&apos;)
      my_check.logContains(&apos;.*Date:.*&apos;, &apos;Build started without a commit - no date line&apos;)
    }
  }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <quietPeriod>0</quietPeriod>
  <disabled>false</disabled>
</flow-definition>
