<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.32">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction_-DoNotShowPersistedBlueOceanUrlActions plugin="blueocean-rest-impl@1.16.0"/>
    <org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch@2.21">
      <jobPropertyDescriptors>
        <string>org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty</string>
        <string>jenkins.model.BuildDiscarderProperty</string>
      </jobPropertyDescriptors>
    </org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
  </actions>
  <description>[JENKINS-43468](https://issues.jenkins.io/browse/JENKINS-43468) pipeline builds on every polling interval</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <numToKeep>10</numToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.68">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.0.0-beta10-SNAPSHOT">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <refspec>+refs/heads/JENKINS-43468:refs/remotes/origin/JENKINS-43468</refspec>
          <url>https://github.com/MarkEWaite/jenkins-bugs</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>JENKINS-43468</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <gitTool>Default</gitTool>
      <browser class="hudson.plugins.git.browser.GithubWeb">
        <url>https://github.com/MarkEWaite/jenkins-bugs</url>
      </browser>
      <submoduleCfg class="list"/>
      <extensions>
        <hudson.plugins.git.extensions.impl.CloneOption>
          <noTags>true</noTags>
          <reference>/var/lib/git/mwaite/bugs/jenkins-bugs.git</reference>
          <honorRefspec>true</honorRefspec>
        </hudson.plugins.git.extensions.impl.CloneOption>
        <hudson.plugins.git.extensions.impl.AuthorInChangelog/>
        <hudson.plugins.git.extensions.impl.LocalBranch>
          <localBranch>JENKINS-43468</localBranch>
        </hudson.plugins.git.extensions.impl.LocalBranch>
      </extensions>
    </scm>
    <scriptPath>Jenkinsfile</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <quietPeriod>1</quietPeriod>
  <disabled>false</disabled>
</flow-definition>
