<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1207.ve6191ff089f8">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2097.v33db_b_de764b_e"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2097.v33db_b_de764b_e">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
    <hudson.plugins.robot.RobotProjectAction plugin="robot@3.2.0">
      <project class="flow-definition" reference="../../.."/>
    </hudson.plugins.robot.RobotProjectAction>
  </actions>
  <description>[JENKINS-68862](https://issues.jenkins.io/browse/JENKINS-68862) reports that the icons fill the whole screen with Jenkins 2.346.2 and robot plugin 3.2.0.  I can&apos;t duplicate the problem</description>
  <keepDependencies>false</keepDependencies>
  <properties>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2746.v0da_83a_332669">
    <script>pipeline {
    agent {
        label &apos;python &amp;&amp; !windows&apos;
    }
    options {
	buildDiscarder logRotator(numToKeepStr: &apos;7&apos;)
    }

    stages {
        stage(&apos;Robot Framework&apos;) {
            steps {
                git &apos;https://github.com/robotframework/RobotDemo&apos;
                sh &apos;&apos;&apos;
                    git clean -xffd
                    pip install robotframework
                    export PATH=$HOME/.local/bin:$PATH
                    robot keyword_driven.robot
                &apos;&apos;&apos;
                robot archiveDirName: &apos;archive&apos;, outputPath: &apos;.&apos;, overwriteXAxisLabel: &apos;&apos;
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
