<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>&lt;a href=&apos;https://jenkins.io&apos;&gt;Jenkins instance&lt;/a&gt; for &lt;a href=&apos;mailto:mark.earl.waite@gmail.com&apos;&gt;Mark Waite&lt;/a&gt;</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.6">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>jdk8</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 64bit &amp;&amp; !Alpine &amp;&amp; !cloud</label>
              <url>https://home.markwaite.net/~mwaite/jdk/OpenJDK8U-jdk_x64_linux_hotspot_8u222b10.tar.gz</url>
              <subdir>jdk8u222-b10</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 32bit</label>
              <url>https://home.markwaite.net/~mwaite/jdk/jdk-8u191-linux-i586.tar.gz</url>
              <subdir>jdk1.8.0_191</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 64bit</label>
              <url>https://home.markwaite.net/~mwaite/jdk/OpenJDK8U-jdk_x64_windows_hotspot_8u222b10.zip</url>
              <subdir>jdk8u222-b10/</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.CommandInstaller>
              <label>cloud</label>
              <command>true</command>
              <toolHome>/home/jagent/tools/jdk8u222-b10</toolHome>
            </hudson.tools.CommandInstaller>
            <hudson.tools.CommandInstaller>
              <label>Alpine</label>
              <command>true</command>
              <toolHome>/usr/lib/jvm/java-1.8-openjdk</toolHome>
            </hudson.tools.CommandInstaller>
            <hudson.tools.CommandInstaller>
              <label>freebsd</label>
              <command>true</command>
              <toolHome>/usr/local/openjdk8</toolHome>
            </hudson.tools.CommandInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
    <jdk>
      <name>jdk11</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 64bit</label>
              <url>https://home.markwaite.net/~mwaite/jdk/OpenJDK11U-jdk_x64_windows_hotspot_11.0.4_11.zip</url>
              <subdir>jdk-11.0.4+11</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 64bit &amp;&amp; !Alpine &amp;&amp; !cloud</label>
              <url>https://home.markwaite.net/~mwaite/jdk/OpenJDK11U-jdk_x64_linux_hotspot_11.0.4_11.tar.gz</url>
              <subdir>jdk-11.0.4+11</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.CommandInstaller>
              <label>cloud</label>
              <command>true</command>
              <toolHome>/home/jagent/tools/jdk-11.0.4+11</toolHome>
            </hudson.tools.CommandInstaller>
            <hudson.tools.CommandInstaller>
              <label>freebsd</label>
              <command>true</command>
              <toolHome>/usr/local/openjdk11</toolHome>
            </hudson.tools.CommandInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
    <jdk>
      <name>jdk12</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 64bit</label>
              <url>https://home.markwaite.net/~mwaite/jdk/OpenJDK12U-jdk_x64_windows_hotspot_12.0.2_10.zip</url>
              <subdir>jdk-12.0.2+10</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 64bit</label>
              <url>https://home.markwaite.net/~mwaite/jdk/OpenJDK12U-jdk_x64_linux_hotspot_12.0.2_10.tar.gz</url>
              <subdir>jdk-12.0.2+10</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.CommandInstaller>
              <label>cloud</label>
              <command>true</command>
              <toolHome>/home/jagent/tools/jdk-12.0.2+10</toolHome>
            </hudson.tools.CommandInstaller>
            <hudson.tools.CommandInstaller>
              <label>freebsd</label>
              <command>true</command>
              <toolHome>/usr/local/openjdk12</toolHome>
            </hudson.tools.CommandInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <description></description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Failed</name>
      <description>Jobs which failed recently</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.JobStatusFilter plugin="view-job-filters@2.1.1">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <unstable>false</unstable>
          <failed>true</failed>
          <aborted>true</aborted>
          <disabled>false</disabled>
          <stable>false</stable>
        </hudson.views.JobStatusFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>true</recurse>
      <statusFilter>true</statusFilter>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Unstable</name>
      <description>Jobs with failing tests</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.JobStatusFilter plugin="view-job-filters@2.1.1">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <unstable>true</unstable>
          <failed>false</failed>
          <aborted>false</aborted>
          <disabled>false</disabled>
          <stable>false</stable>
        </hudson.views.JobStatusFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>true</recurse>
      <statusFilter>true</statusFilter>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Executing</name>
      <description>Jobs currently executing</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.BuildStatusFilter plugin="view-job-filters@2.1.1">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <neverBuilt>false</neverBuilt>
          <building>true</building>
          <inBuildQueue>false</inBuildQueue>
        </hudson.views.BuildStatusFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>true</recurse>
    </listView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
    <string>JNLP3-connect</string>
  </disabledAgentProtocols>
  <label>git-2.20 git-lfs highmem</label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>1</int>
          <string>PATH+M2_HOME_BIN</string>
          <string>/var/jenkins_home/tools/hudson.tasks.Maven_MavenInstallation/maven-latest/apache-maven-3.6.2/bin</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
  <globalNodeProperties/>
</hudson>
