<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <markupFormatter class="org.jenkins_ci.plugins.pegdown_formatter.PegDownFormatter" plugin="pegdown-formatter@1.3">
    <flags>262399</flags>
    <extensions>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>SUPPRESS_ALL_HTML</name>
        <flag>196608</flag>
        <selected>false</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
    </extensions>
    <advancedExtensions>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>ABBREVIATIONS</name>
        <flag>4</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>AUTOLINKS</name>
        <flag>16</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>DEFINITIONS</name>
        <flag>64</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>FENCED_CODE_BLOCKS</name>
        <flag>128</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>HARDWRAPS</name>
        <flag>8</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>NO_FOLLOW_LINKS</name>
        <flag>262144</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>SMARTYPANTS</name>
        <flag>3</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
      <org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
        <name>TABLES</name>
        <flag>32</flag>
        <selected>true</selected>
      </org.jenkins__ci.plugins.pegdown__formatter.PegDownExtension>
    </advancedExtensions>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>jdk8</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 64bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk-8u144-linux-x64.tar.gz</url>
              <subdir>jdk1.8.0_144</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 32bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk-8u144-linux-i586.tar.gz</url>
              <subdir>jdk1.8.0_144</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 64bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk1.8.0_144.zip</url>
              <subdir>jdk1.8.0_144</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 32bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk1.8.0_141-x86.zip</url>
              <subdir>jdk1.8.0_141</subdir>
            </hudson.tools.ZipExtractionInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
    <jdk>
      <name>jdk7</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 64bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk-7u80-linux-x64.tar.gz</url>
              <subdir>jdk1.7.0_80</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 32bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk-7u80-linux-i586.tar.gz</url>
              <subdir>jdk1.7.0_80</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 64bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk1.7.0_75.zip</url>
              <subdir>jdk1.7.0_75</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 32bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk1.7.0_80-x86.zip</url>
              <subdir>jdk1.7.0_80</subdir>
            </hudson.tools.ZipExtractionInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
    <jdk>
      <name>jdk6</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 64bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk-6u45-linux-x64.tar.gz</url>
              <subdir>java-6-oracle</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 32bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk-6u45-linux-x86.tar.gz</url>
              <subdir>java-6-oracle</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 64bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk1.6.0_45.zip</url>
              <subdir>jdk1.6.0_45</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 32bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk1.6.0_45-x86.zip</url>
              <subdir>jdk1.6.0_45</subdir>
            </hudson.tools.ZipExtractionInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
    <jdk>
      <name>jdk9</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 64bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk-9_linux-x64_bin.tar.gz</url>
              <subdir>jdk-9</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>linux &amp;&amp; 32bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk-9+181_linux-x86_bin.tar.gz</url>
              <subdir>jdk-9</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <!--
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 64bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk-9+181.zip</url>
              <subdir>jdk-9</subdir>
            </hudson.tools.ZipExtractionInstaller>
            <hudson.tools.ZipExtractionInstaller>
              <label>windows &amp;&amp; 32bit</label>
              <url>http://JENKINS_HOSTNAME:8080/userContent/jdk/jdk-9+181-x86.zip</url>
              <subdir>jdk-9</subdir>
            </hudson.tools.ZipExtractionInstaller>
            -->
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <description>All jobs</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Failed</name>
      <description>Jobs which failed recently</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.JobStatusFilter plugin="view-job-filters@1.27">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <unstable>false</unstable>
          <failed>true</failed>
          <aborted>true</aborted>
          <disabled>false</disabled>
          <stable>false</stable>
        </hudson.views.JobStatusFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>true</recurse>
      <statusFilter>true</statusFilter>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Unstable</name>
      <description>Jobs with failing tests</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.JobStatusFilter plugin="view-job-filters@1.27">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <unstable>true</unstable>
          <failed>false</failed>
          <aborted>false</aborted>
          <disabled>false</disabled>
          <stable>false</stable>
        </hudson.views.JobStatusFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>true</recurse>
      <statusFilter>true</statusFilter>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Executing</name>
      <description>Jobs currently executing</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters>
        <hudson.views.BuildStatusFilter plugin="view-job-filters@1.27">
          <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
          <neverBuilt>false</neverBuilt>
          <building>true</building>
          <inBuildQueue>false</inBuildQueue>
        </hudson.views.BuildStatusFilter>
      </jobFilters>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.0"/>
      </columns>
      <recurse>true</recurse>
    </listView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
  </disabledAgentProtocols>
  <label>git-2.1 git-lfs highmem</label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>
