<?xml version='1.1' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.folder.Folder plugin="cloudbees-folder@6.758.vfd75d09eea_a_1">
  <actions/>
  <description>[![Elastic Axis Plugin](/job/Jenkins-Plugins-Folder/job/Elastic-Axis-Folder/job/elastic-axis-pipeline/job/master/badge/icon?subject=Elastic%20axis)](/job/Jenkins-Plugins-Folder/job/Elastic-Axis-Folder/job/elastic-axis-pipeline/job/master/)
[![Embeddable Build Status](/job/Jenkins-Plugins-Folder/job/Embeddable-Build-Status-Folder/job/embeddable-build-status-pipeline/job/master/badge/icon?subject=Embeddable%20build%20status)](/job/Jenkins-Plugins-Folder/job/Embeddable-Build-Status-Folder/job/embeddable-build-status-pipeline/job/master/)
[![Git Client Plugin Build Status](/job/Jenkins-Plugins-Folder/job/Git-Client-Folder/job/git-client-pipeline-github/job/master/badge/icon?subject=Git%20client)](/job/Jenkins-Plugins-Folder/job/Git-Client-Folder/job/git-client-pipeline-github/job/master/)
[![Git Plugin Build Status](/job/Jenkins-Plugins-Folder/job/Git-Folder/job/git-pipeline-github/job/master/badge/icon?subject=Git)](/job/Jenkins-Plugins-Folder/job/Git-Folder/job/git-pipeline-github/job/master/)
[![GitLab Plugin Build Status](/job/Jenkins-Plugins-Folder/job/GitLab-Folder/job/gitlab-pipeline/job/master/badge/icon?subject=GitLab)](/job/Jenkins-Plugins-Folder/job/GitLab-Folder/job/gitlab-pipeline/job/master/)
[![Implied Labels Build Status](/job/Jenkins-Plugins-Folder/job/Implied-Labels-Folder/job/implied-labels-pipeline/job/master/badge/icon?subject=Implied%20labels)](/job/Jenkins-Plugins-Folder/job/Implied-Labels-Folder/job/implied-labels-pipeline/job/master/)
[![Build Status](/job/Jenkins-Plugins-Folder/job/NodeLabelParameter-Folder/job/nodelabelparameter-pipeline/job/master/badge/icon?subject=Node%20label%20parameter)](/job/Jenkins-Plugins-Folder/job/NodeLabelParameter-Folder/job/nodelabelparameter-pipeline/job/master/)
[![Build Status](/job/Jenkins-Plugins-Folder/job/Platform-Labeler-Folder/job/platform-labeler-pipeline-github/job/master/badge/icon?subject=Platform%20labeler)](/job/Jenkins-Plugins-Folder/job/Platform-Labeler-Folder/job/platform-labeler-pipeline-github/job/master/)
[![Build Status](/job/Jenkins-Plugins-Folder/job/Priority-Sorter-Folder/job/priority-sorter-pipeline/job/master/badge/icon?subject=Priority%20sorter)](/job/Jenkins-Plugins-Folder/job/Priority-Sorter-Folder/job/priority-sorter-pipeline/job/master/)
[![Build Status](/job/Jenkins-Plugins-Folder/job/Schedule-Build-Folder/job/schedule-build-pipeline/job/master/badge/icon?subject=Schedule%20build)](/job/Jenkins-Plugins-Folder/job/Schedule-Build-Folder/job/schedule-build-pipeline/job/master/)
[![Build Status](/job/Jenkins-Plugins-Folder/job/TestNG-Folder/job/testng-pipeline-github/job/master/badge/icon?subject=TestNG%20results)](/job/Jenkins-Plugins-Folder/job/TestNG-Folder/job/testng-pipeline-github/job/master/)</description>
  <displayName>Jenkins Plugins</displayName>
  <properties>
    <org.jenkinsci.plugins.docker.workflow.declarative.FolderConfig plugin="docker-workflow@521.v1a_a_dd2073b_2e">
      <dockerLabel></dockerLabel>
      <registry plugin="docker-commons@1.21"/>
    </org.jenkinsci.plugins.docker.workflow.declarative.FolderConfig>
    <org.jenkinsci.plugins.workflow.libs.FolderLibraries plugin="pipeline-groovy-lib@612.v84da_9c54906d">
      <libraries>
        <org.jenkinsci.plugins.workflow.libs.LibraryConfiguration>
          <name>infra</name>
          <retriever class="org.jenkinsci.plugins.workflow.libs.SCMSourceRetriever">
            <scm class="org.jenkinsci.plugins.github_branch_source.GitHubSCMSource" plugin="github-branch-source@1695.v88de84e9f6b_9">
              <id>862d151a-38ad-4e7d-b242-ca42f0134e0d</id>
              <apiUri>https://api.github.com</apiUri>
              <credentialsId>MarkEWaite-github-token-2019-05-25</credentialsId>
              <repoOwner>MarkEWaite</repoOwner>
              <repository>pipeline-library</repository>
              <repositoryUrl>https://github.com/MarkEWaite/pipeline-library.git</repositoryUrl>
              <traits>
                <org.jenkinsci.plugins.github__branch__source.BranchDiscoveryTrait>
                  <strategyId>1</strategyId>
                </org.jenkinsci.plugins.github__branch__source.BranchDiscoveryTrait>
                <org.jenkinsci.plugins.github__branch__source.OriginPullRequestDiscoveryTrait>
                  <strategyId>1</strategyId>
                </org.jenkinsci.plugins.github__branch__source.OriginPullRequestDiscoveryTrait>
                <org.jenkinsci.plugins.github__branch__source.ForkPullRequestDiscoveryTrait>
                  <strategyId>1</strategyId>
                  <trust class="org.jenkinsci.plugins.github_branch_source.ForkPullRequestDiscoveryTrait$TrustPermission"/>
                </org.jenkinsci.plugins.github__branch__source.ForkPullRequestDiscoveryTrait>
              </traits>
            </scm>
          </retriever>
          <defaultVersion>my-own-master</defaultVersion>
          <implicit>true</implicit>
          <allowVersionOverride>true</allowVersionOverride>
          <includeInChangesets>false</includeInChangesets>
        </org.jenkinsci.plugins.workflow.libs.LibraryConfiguration>
      </libraries>
    </org.jenkinsci.plugins.workflow.libs.FolderLibraries>
    <org.jenkinsci.plugins.pipeline.maven.MavenConfigFolderOverrideProperty plugin="pipeline-maven@1205.vceea_7b_972817">
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="org.jenkinsci.plugins.configfiles.maven.job.MvnGlobalSettingsProvider" plugin="config-file-provider@3.11.1">
        <settingsConfigId>jenkins-maven-global-settings-file</settingsConfigId>
      </globalSettings>
      <override>true</override>
    </org.jenkinsci.plugins.pipeline.maven.MavenConfigFolderOverrideProperty>
  </properties>
  <folderViews class="com.cloudbees.hudson.plugins.folder.views.DefaultFolderViewHolder">
    <views>
      <hudson.model.AllView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>all</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
      </hudson.model.AllView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Executing</name>
        <description>Jobs currently executing</description>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator"/>
        </jobNames>
        <jobFilters>
          <hudson.views.BuildStatusFilter plugin="view-job-filters@2.3">
            <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
            <neverBuilt>false</neverBuilt>
            <building>true</building>
            <inBuildQueue>false</inBuildQueue>
          </hudson.views.BuildStatusFilter>
        </jobFilters>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>true</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Failed</name>
        <description>Jobs that failed recently</description>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
        </jobNames>
        <jobFilters>
          <hudson.views.JobStatusFilter plugin="view-job-filters@2.3">
            <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
            <unstable>false</unstable>
            <failed>true</failed>
            <aborted>true</aborted>
            <disabled>false</disabled>
            <stable>false</stable>
          </hudson.views.JobStatusFilter>
        </jobFilters>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>true</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Unstable</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
        </jobNames>
        <jobFilters>
          <hudson.views.JobStatusFilter plugin="view-job-filters@2.3">
            <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
            <unstable>true</unstable>
            <failed>false</failed>
            <aborted>false</aborted>
            <disabled>false</disabled>
            <stable>false</stable>
          </hudson.views.JobStatusFilter>
        </jobFilters>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
        </columns>
        <recurse>true</recurse>
      </hudson.model.ListView>
    </views>
    <primaryView>all</primaryView>
    <tabBar class="hudson.views.DefaultViewsTabBar"/>
  </folderViews>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
      <nonRecursive>false</nonRecursive>
    </com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
  </healthMetrics>
  <icon class="com.cloudbees.hudson.plugins.folder.icons.StockFolderIcon"/>
</com.cloudbees.hudson.plugins.folder.Folder>
