<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>[JENKINS-23476](https://issues.jenkins.io/browse/JENKINS-23476) git timeout&#xd;
&#xd;
Compare value of TIMEOUT field of org.jenkinsci.plugins.gitclient.CliGitAPIImpl&#xd;
and system property org.jenkinsci.plugins.gitclient.Git.timeOut</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>def TIMEOUT = org.jenkinsci.plugins.gitclient.CliGitAPIImpl.TIMEOUT
def timeOut = Integer.getInteger(&quot;org.jenkinsci.plugins.gitclient.Git.timeOut&quot;, TIMEOUT)

if (TIMEOUT != timeOut) {
    manager.addWarningBadge(&quot;TIMEOUT == &quot; + TIMEOUT + &quot; timeOut == &quot; + timeOut)
    manager.buildUnstable()
}</script>
        <sandbox>true</sandbox>
      </script>
      <behavior>2</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
  </publishers>
  <buildWrappers/>
</project>
