<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.42">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.3"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.3">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>[JENKINS-64953](https://issues.jenkins.io/browse/JENKINS-64953) reports that parameter definitions could not be saved from &quot;This project is parameterized&quot;.  This job shows that I can&apos;t duplicate the issue</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>BOOLEAN_PARAMETER</name>
          <description>Boolean parameter that defaults to &lt;code&gt;true&lt;/code&gt;</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.LabelParameterDefinition plugin="nodelabelparameter@1.10.1">
          <name>LABEL_PARAMETER</name>
          <defaultValue>!windows</defaultValue>
          <allNodesMatchingLabel>false</allNodesMatchingLabel>
          <triggerIfResult>allCases</triggerIfResult>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.LabelParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STRING_PARAMETER</name>
          <description>String parameter</description>
          <defaultValue>A string parameter</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@2.6.2">
          <name>USERNAME_PASSWORD_CREDENTIALS_PARAMTER</name>
          <description>Username / credentials parameter</description>
          <defaultValue>invalid-user-and-password</defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl</credentialType>
          <required>false</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>CHOICE_PARAMETER</name>
          <description>A parameter that provides a list of choices</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Choice-1</string>
              <string>Choice-2</string>
              <string>Choice-3</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2633.v6baeedc13805">
    <script>pipeline {
    agent {
        label &apos;linux&apos; // Assumes Linux has bash shell available
    }
    stages {
        stage(&apos;Hello&apos;) {
            steps {
                echo &apos;Hello World&apos;
                echo &quot;params is ${params}&quot;
                echo &quot;boolean parameter is ${BOOLEAN_PARAMETER}&quot;
                sh &quot;#!/bin/bash\nif [[ $CHOICE_PARAMETER =~ \&quot;Choice\&quot; ]]; then exit 0; else echo Choice parameter not found; exit 1; fi&quot;
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
