<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>[JENKINS-65123](https://issues.jenkins.io/browse/JENKINS-65123) notes that the GIT_URL environment variable should be available even when multiple repositories are included&#xd;
&#xd;
Build will be unstable if GIT_URL, GIT_URL_1, and GIT_URL_2 are not all set to non-empty values.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>7</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.7.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/MarkEWaite/jenkins-demo</url>
      </hudson.plugins.git.UserRemoteConfig>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/MarkEWaite/jenkins-demo.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <assignedNode>!windows</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

result=0

if [[ -z $GIT_URL ]]; then
  echo GIT_URL not set
  result=$(( $result ^ 1 ))
fi

if [[ -z $GIT_URL_1 ]]; then
  echo GIT_URL_1 not set
  result=$(( $result ^ 2 ))
fi

if [[ -z $GIT_URL_2 ]]; then
  echo GIT_URL_2 not set
  result=$(( $result ^ 4 ))
fi

echo ====== GIT_URL values START ======
env | sort | grep &apos;^GIT_URL&apos;
echo ====== GIT_URL values END ======

if [[ $result != 0 ]]; then
  echo Non-zero result is $result
fi
exit 0</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.textfinder.TextFinderPublisher plugin="text-finder@1.15">
      <textFinders>
        <hudson.plugins.textfinder.TextFinder>
          <regexp>Non-zero result is [0-9]+</regexp>
          <buildResult>UNSTABLE</buildResult>
          <changeCondition>MATCH_FOUND</changeCondition>
          <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
        </hudson.plugins.textfinder.TextFinder>
      </textFinders>
    </hudson.plugins.textfinder.TextFinderPublisher>
  </publishers>
  <buildWrappers/>
</project>
