<?xml version='1.1' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.19">
  <actions/>
  <description>[JENKINS-65043](https://issues.jenkins.io/browse/JENKINS-65043) reports the elastic axis label verifier fails in 2.249.1 and later.
Test interactively with the elastic axis label field to confirm that comma separated values are honored and that suggestions are offered based on available labels.
  </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>13</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <org.jenkinsci.plugins.elasticaxisplugin.ElasticAxis plugin="elastic-axis@1.4.2">
      <name>JENKINS-65043-label</name>
      <label>windows , linux &amp;&amp; !cloud &amp;&amp; !master &amp;&amp; !built-in</label>
      <ignoreOffline>true</ignoreOffline>
      <dontExpandLabels>false</dontExpandLabels>
    </org.jenkinsci.plugins.elasticaxisplugin.ElasticAxis>
  </axes>
  <builders/>
  <publishers/>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>
