<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>[JENKINS-67430](https://issues.jenkins.io/browse/JENKINS-67430) notes a regression I introduced in node and label parameter plugin 1.10.2.
Configuration changes are not saved for default and for possible nodes.
Tim Jacomb fixed my mistake with [PR-77](https://github.com/jenkinsci/nodelabelparameter-plugin/pull/77).</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.10.3-SNAPSHOT">
          <name>NODES_TO_USE</name>
          <description>Nodes used to run the job</description>
          <allowedSlaves>
            <string>debian11-a-jagent</string>
            <string>debian12-a-jagent</string>
            <string>freebsd-13-a-jagent</string>
            <string>freebsd-13-b-jagent</string>
            <string>freebsd-13-c-jagent</string>
            <string>gcp-debian-11-a</string>
            <string>gcp-debain-11-b</string>
            <string>gcp-debian-12-a</string>
            <string>gcp-debain-12-b</string>
            <string>gcp-debian-testing-a</string>
            <string>gcp-debain-testing-b</string>
          </allowedSlaves>
          <defaultSlaves>
            <string>debian11-a-jagent</string>
          </defaultSlaves>
          <triggerIfResult>allowMultiSelectionForConcurrentBuilds</triggerIfResult>
          <allowMultiNodeSelection>true</allowMultiNodeSelection>
          <triggerConcurrentBuilds>true</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.IgnoreOfflineNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>hostname</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
