<?xml version='1.1' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.folder.Folder plugin="cloudbees-folder@6.14">
  <actions/>
  <description>Jenkins git plugin folder with custom pipeline library</description>
  <displayName>Git Plugin Folder</displayName>
  <properties>
    <com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider_-FolderCredentialsProperty>
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain plugin="credentials@2.3.12">
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.hudson.plugins.folder.properties.FolderCredentialsProvider_-FolderCredentialsProperty>
    <org.jenkinsci.plugins.workflow.libs.FolderLibraries plugin="workflow-cps-global-lib@2.17">
      <libraries>
        <org.jenkinsci.plugins.workflow.libs.LibraryConfiguration>
          <name>infra</name>
          <retriever class="org.jenkinsci.plugins.workflow.libs.SCMSourceRetriever">
            <scm class="jenkins.plugins.git.GitSCMSource" plugin="git@4.3.0">
              <id>02d1ef7b-6bda-48ca-a8f8-934d7d91ea94</id>
              <remote>https://github.com/MarkEWaite/pipeline-library.git</remote>
              <credentialsId>MarkEWaite-github-username-password</credentialsId>
              <traits>
                <jenkins.plugins.git.traits.BranchDiscoveryTrait/>
                <jenkins.plugins.git.traits.AuthorInChangelogTrait>
                  <extension class="hudson.plugins.git.extensions.impl.AuthorInChangelog"/>
                </jenkins.plugins.git.traits.AuthorInChangelogTrait>
                <jenkins.plugins.git.traits.PruneStaleBranchTrait>
                  <extension class="hudson.plugins.git.extensions.impl.PruneStaleBranch"/>
                </jenkins.plugins.git.traits.PruneStaleBranchTrait>
                <jenkins.plugins.git.traits.GitToolSCMSourceTrait>
                  <gitTool>Default</gitTool>
                </jenkins.plugins.git.traits.GitToolSCMSourceTrait>
              </traits>
            </scm>
          </retriever>
          <defaultVersion>my-own-master</defaultVersion>
          <implicit>true</implicit>
          <allowVersionOverride>true</allowVersionOverride>
          <includeInChangesets>false</includeInChangesets>
        </org.jenkinsci.plugins.workflow.libs.LibraryConfiguration>
      </libraries>
    </org.jenkinsci.plugins.workflow.libs.FolderLibraries>
    <org.jenkinsci.plugins.pipeline.maven.MavenConfigFolderOverrideProperty plugin="pipeline-maven@3.9.2">
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <override>false</override>
    </org.jenkinsci.plugins.pipeline.maven.MavenConfigFolderOverrideProperty>
  </properties>
  <folderViews class="com.cloudbees.hudson.plugins.folder.views.DefaultFolderViewHolder">
    <views>
      <hudson.model.AllView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>all</name>
        <description></description>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
      </hudson.model.AllView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Failed</name>
        <description></description>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator"/>
        </jobNames>
        <jobFilters>
          <hudson.views.JobStatusFilter plugin="view-job-filters@2.3">
            <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
            <unstable>false</unstable>
            <failed>true</failed>
            <aborted>true</aborted>
            <disabled>false</disabled>
            <stable>false</stable>
          </hudson.views.JobStatusFilter>
        </jobFilters>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
          <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
        </columns>
        <recurse>true</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Unstable</name>
        <description></description>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
        </jobNames>
        <jobFilters>
          <hudson.views.JobStatusFilter plugin="view-job-filters@2.3">
            <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
            <unstable>true</unstable>
            <failed>false</failed>
            <aborted>false</aborted>
            <disabled>false</disabled>
            <stable>false</stable>
          </hudson.views.JobStatusFilter>
        </jobFilters>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
          <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
        </columns>
        <recurse>true</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Executing</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
        </jobNames>
        <jobFilters>
          <hudson.views.BuildStatusFilter plugin="view-job-filters@2.3">
            <includeExcludeTypeString>includeMatched</includeExcludeTypeString>
            <neverBuilt>false</neverBuilt>
            <building>true</building>
            <inBuildQueue>false</inBuildQueue>
          </hudson.views.BuildStatusFilter>
        </jobFilters>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
          <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
        </columns>
        <recurse>true</recurse>
      </hudson.model.ListView>
    </views>
    <primaryView>all</primaryView>
    <tabBar class="hudson.views.DefaultViewsTabBar"/>
  </folderViews>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
      <nonRecursive>false</nonRecursive>
    </com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
  </healthMetrics>
  <icon class="com.cloudbees.hudson.plugins.folder.icons.StockFolderIcon"/>
</com.cloudbees.hudson.plugins.folder.Folder>
