<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>[JENKINS-45352](https://issues.jenkins-ci.org/browse/JENKINS-45352) reports that multiple SCM fails checkout with a class cast exception at print commit log</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@1.0.3">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>usebranch</name>
          <description>Branch to build</description>
          <defaultValue>JENKINS-15103</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <EnvInjectJobProperty plugin="envinject@2.1.3">
      <info>
        <propertiesContent>ABC=DEF</propertiesContent>
        <secureGroovyScript plugin="script-security@1.29">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
    </EnvInjectJobProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.6">
    <scms>
      <hudson.plugins.git.GitSCM plugin="git@3.3.2-SNAPSHOT">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <name>JENKINS-15103-origin</name>
            <refspec>+refs/heads/$usebranch:refs/remotes/JENKINS-15103-origin/$usebranch</refspec>
            <url>https://github.com/MarkEWaite/jenkins-bugs</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>$usebranch</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <gitTool>Default</gitTool>
        <browser class="hudson.plugins.git.browser.GithubWeb">
          <url>https://github.com/MarkEWaite/jenkins-bugs</url>
        </browser>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.CloneOption>
            <shallow>false</shallow>
            <noTags>true</noTags>
            <reference>/var/lib/git/mwaite/bugs/jenkins-bugs.git</reference>
            <depth>0</depth>
            <honorRefspec>true</honorRefspec>
          </hudson.plugins.git.extensions.impl.CloneOption>
          <hudson.plugins.git.extensions.impl.AuthorInChangelog/>
          <hudson.plugins.git.extensions.impl.PruneStaleBranch/>
          <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>$usebranch</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
          <hudson.plugins.git.extensions.impl.LocalBranch>
            <localBranch>**</localBranch>
          </hudson.plugins.git.extensions.impl.LocalBranch>
        </extensions>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM plugin="git@3.3.2-SNAPSHOT">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <name>JENKINS-41906-origin</name>
            <refspec>+refs/heads/JENKINS-41906:refs/remotes/JENKINS-41906-origin/JENKINS-41906</refspec>
            <url>https://github.com/MarkEWaite/jenkins-bugs</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>JENKINS-41906</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <gitTool>Default</gitTool>
        <browser class="hudson.plugins.git.browser.GithubWeb">
          <url>https://github.com/MarkEWaite/jenkins-bugs</url>
        </browser>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.CloneOption>
            <shallow>false</shallow>
            <noTags>true</noTags>
            <reference>/var/lib/git/mwaite/bugs/jenkins-bugs.git</reference>
            <depth>0</depth>
            <honorRefspec>true</honorRefspec>
          </hudson.plugins.git.extensions.impl.CloneOption>
          <hudson.plugins.git.extensions.impl.AuthorInChangelog/>
          <hudson.plugins.git.extensions.impl.PruneStaleBranch/>
          <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
          <hudson.plugins.git.extensions.impl.LocalBranch>
            <localBranch>**</localBranch>
          </hudson.plugins.git.extensions.impl.LocalBranch>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>JENKINS-41906</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM plugin="git@3.3.2-SNAPSHOT">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <name>JENKINS-43052-origin</name>
            <refspec>+refs/heads/JENKINS-43052:refs/remotes/JENKINS-43052-origin/JENKINS-43052</refspec>
            <url>https://github.com/MarkEWaite/jenkins-bugs</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>JENKINS-43052</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <gitTool>Default</gitTool>
        <browser class="hudson.plugins.git.browser.GithubWeb">
          <url>https://github.com/MarkEWaite/jenkins-bugs</url>
        </browser>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.CloneOption>
            <shallow>false</shallow>
            <noTags>true</noTags>
            <reference>/var/lib/git/mwaite/bugs/jenkins-bugs.git</reference>
            <depth>0</depth>
            <honorRefspec>true</honorRefspec>
          </hudson.plugins.git.extensions.impl.CloneOption>
          <hudson.plugins.git.extensions.impl.AuthorInChangelog/>
          <hudson.plugins.git.extensions.impl.PruneStaleBranch/>
          <hudson.plugins.git.extensions.impl.LocalBranch>
            <localBranch>**</localBranch>
          </hudson.plugins.git.extensions.impl.LocalBranch>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>JENKINS-43052</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <quietPeriod>1</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>jdk8</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant plugin="ant@1.5">
      <targets>info</targets>
      <antName>ant-latest</antName>
      <buildFile>$usebranch/build.xml</buildFile>
    </hudson.tasks.Ant>
    <hudson.tasks.Ant plugin="ant@1.5">
      <targets>info</targets>
      <antName>ant-latest</antName>
      <buildFile>JENKINS-41906/build.xml</buildFile>
    </hudson.tasks.Ant>
    <hudson.tasks.Ant plugin="ant@1.5">
      <targets>info</targets>
      <antName>ant-latest</antName>
      <buildFile>JENKINS-43052/build.xml</buildFile>
    </hudson.tasks.Ant>
  </builders>
  <publishers/>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@2.1.3">
      <info>
        <propertiesContent>WHO=AM-I</propertiesContent>
        <secureGroovyScript plugin="script-security@1.29">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>
