<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Check that the Jenkins war file is correctly signed</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>jdk11</jdk>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>@daily</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>jarsigner -verify -certs /usr/share/jenkins/jenkins.war</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.textfinder.TextFinderPublisher plugin="text-finder@1.15">
      <textFinders>
        <hudson.plugins.textfinder.TextFinder>
          <regexp>Warning:</regexp>
          <buildResult>UNSTABLE</buildResult>
          <changeCondition>MATCH_FOUND</changeCondition>
          <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
        </hudson.plugins.textfinder.TextFinder>
        <hudson.plugins.textfinder.TextFinder>
          <regexp>jar is unsigned</regexp>
          <buildResult>UNSTABLE</buildResult>
          <changeCondition>MATCH_FOUND</changeCondition>
          <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
        </hudson.plugins.textfinder.TextFinder>
      </textFinders>
    </hudson.plugins.textfinder.TextFinderPublisher>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.5">
      <script plugin="script-security@1.75">
        <script>import jenkins.model.Jenkins
Jenkins jenkins = Jenkins.getInstance()
if (jenkins.computers.size() &gt; 1) {
  /* If multiple agents are available, disable executors on master agent */
  /* Jobs should not run on master, but this job requires access to the controller file system */
  jenkins.setNumExecutors(0)
  jenkins.save()
}
</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
  </publishers>
  <buildWrappers/>
</project>
