<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1167.v8fe861b_09ef9">
  <actions/>
  <description>[JENKINS-41354](https://issues.jenkins.io/browse/JENKINS-41354) pipeline does not have git env variables</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.34.2">
      <projectUrl>https://github.com/MarkEWaite/jenkins-bugs</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2659.v52d3de6044d0">
    <script>def gitVars = null

node {
   stage(&apos;Prep&apos;) {
       gitVars = checkout([$class: &apos;GitSCM&apos;,
              branches: [[name: &apos;master&apos;]],
              extensions:
                [[$class: &apos;AuthorInChangelog&apos;],
                 [$class: &apos;LocalBranch&apos;, localBranch: &apos;**&apos;],
                 [$class: &apos;CloneOption&apos;, honorRefspec: true, noTags: true, reference: &apos;/var/lib/git/mwaite/bugs/jenkins-bugs.git&apos;],
                 [$class: &apos;CleanBeforeCheckout&apos;]],
              userRemoteConfigs:
                [[refspec: &apos;+refs/heads/master:refs/remotes/origin/master&apos;,
                  url: &apos;https://github.com/MarkEWaite/jenkins-bugs&apos;]]])
   }
   stage(&apos;Build&apos;) {
      if (isUnix()) {
         sh &apos;env | sort&apos;
      } else {
         bat(&apos;set&apos;)
      }
      def output = &apos;*** Map returned from checkout ***:\n&apos;
      for (gitEnv in gitVars) {
          output = output + gitEnv.key + &apos;=&apos; + gitEnv.value + &apos;\n&apos;
      }
      echo output
   }
   stage(&apos;Verify&apos;) {
      // Log should contain GIT_COMMIT=
      if (!manager.logContains(&apos;.*GIT_COMMIT=.*&apos;)) {
          manager.addWarningBadge(&apos;No GIT_COMMIT env variable&apos;)
          manager.createSummary(&apos;warning.gif&apos;).appendText(&apos;&lt;h1&gt;No GIT_COMMIT env variable!&lt;/h1&gt;&apos;, false, false, false, &apos;yellow&apos;)
          manager.buildUnstable()
      }
   }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
