<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.35">
  <actions/>
  <description>[JENKINS-35475](https://issues.jenkins.io/browse/JENKINS-35475) git build data shown multiple times</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.9">
      <siteName>https://issues.jenkins.io/</siteName>
    </hudson.plugins.jira.JiraProjectProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.29.4">
      <projectUrl>https://github.com/MarkEWaite/jenkins-bugs</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec></spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.74">
    <script>node(&apos;git-2.11+&apos;) {
  stage(&apos;Checkout&apos;) {
    // Fast form - clone subset
    dir(&apos;JENKINS-35475&apos;) {
    checkout([$class: &apos;GitSCM&apos;,
              userRemoteConfigs: [[name: &apos;bugs-origin&apos;,
                                   refspec: &apos;+refs/heads/JENKINS-35475:refs/remotes/bugs-origin/JENKINS-35475&apos;,
                                   url: &apos;https://github.com/MarkEWaite/jenkins-bugs&apos;]],
              branches: [[name: &apos;bugs-origin/JENKINS-35475&apos;]],
              browser: [$class: &apos;GithubWeb&apos;, repoUrl: &apos;https://github.com/MarkEWaite/jenkins-bugs&apos;],
              extensions: [
                [$class: &apos;AuthorInChangelog&apos;],
                [$class: &apos;CleanBeforeCheckout&apos;],
                [$class: &apos;CloneOption&apos;, honorRefspec: true, noTags: true, reference: &apos;/var/lib/git/mwaite/bugs/jenkins-bugs.git&apos;, shallow: true],
                [$class: &apos;LocalBranch&apos;, localBranch: &apos;JENKINS-35475&apos;],
                // [$class: &apos;RelativeTargetDirectory&apos;, relativeTargetDir: &apos;JENKINS-35475&apos;],
              ],
             ])
    }

    // Fast form - clone subset of JENKINS-15103
    dir(&apos;JENKINS-15103&apos;) {
    checkout([$class: &apos;GitSCM&apos;,
              userRemoteConfigs: [[name: &apos;bugs-origin&apos;,
                                   refspec: &apos;+refs/heads/JENKINS-15103:refs/remotes/bugs-origin/JENKINS-15103&apos;,
                                   url: &apos;https://github.com/MarkEWaite/jenkins-bugs&apos;]],
              branches: [[name: &apos;bugs-origin/JENKINS-15103&apos;]],
              browser: [$class: &apos;GithubWeb&apos;, repoUrl: &apos;https://github.com/MarkEWaite/jenkins-bugs&apos;],
              extensions: [
                [$class: &apos;AuthorInChangelog&apos;],
                [$class: &apos;CleanBeforeCheckout&apos;],
                [$class: &apos;CloneOption&apos;, honorRefspec: true, noTags: true, reference: &apos;/var/lib/git/mwaite/bugs/jenkins-bugs.git&apos;, shallow: true],
                [$class: &apos;LocalBranch&apos;, localBranch: &apos;JENKINS-15103&apos;],
                // [$class: &apos;RelativeTargetDirectory&apos;, relativeTargetDir: &apos;JENKINS-41354&apos;],
              ],
             ])
    }

  }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <quietPeriod>0</quietPeriod>
  <disabled>false</disabled>
</flow-definition>
