<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>[JENKINS_73243](https://issues.jenkins.io/browse/JENKINS-73243) - Parameterized build in queue with &apos;$&apos; valued parameter fails build history panel</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>CHOICE</name>
          <description>Choose one</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>$a</string>
              <string>$b</string>
              <string>$c</string>
              <string>$d</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>!windows</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>jdk-21</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo choice is ${CHOICE} && sleep 30</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
